<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    @{ var myMessage = "Hello World";}
    <h1>Test Page</h1>
    <p>My message is: @myMessage</p>
    @RenderPage("header.cshtml")
</body>
</html>
