<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/82eebf7a-a92d-4637-abc0-8605a177d3e1/resourceGroups/18IST240amc/providers/Microsoft.Web/sites/18IST240amc</ResourceId>
    <ResourceGroup>18IST240amc</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://18ist240amc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>18ist240amc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>18IST240amc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$18IST240amc</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BookContext" Order="1" Enabled="False">
          <Destination Path="Data Source=ist240ac.database.windows.net;Initial Catalog=IST140DB;Persist Security Info=True;User ID=acollins41198;Password=Password1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BootstrapLab.DAL.BookContext, BootstrapLab" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BookContext-Web.config Connection String">
      <ParameterValue>Data Source=ist240ac.database.windows.net;Initial Catalog=IST140DB;Persist Security Info=True;User ID=acollins41198;Password=Password1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BookContext-Web.config Connection String">
      <ParameterValue>Data Source=ist240ac.database.windows.net;Initial Catalog=IST140DB;Persist Security Info=True;User ID=acollins41198;Password=Password1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>